*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto Slab', serif;
}

a:visited {
    color: #0000EE;
}

:root {
    --main-theme-color: #eeeeee;
    --secondary-color: #222222;
    --third-color: #2B2B2B;
    --nav-accent-color: #222222;
    --main-text-color: #333;
    --secondary-text-color: white;
    --faded-text-color: #ccc;
    --main-hover-color: #7e7e7e;
}
body{
    background-color: var(--main-theme-color);
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
/* Make all header centered */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
    font-size: 1.6rem;
    text-align: center;
}
h1{
    color: var(--main-text-color)
}
footer > h4 {
    margin-bottom: 0;
    font-size: 1rem;
    color: var(--secondary-text-color)
}
ul{
    list-style: none;
}
/* Navigation */
nav {
    background-color: var(--third-color);
    z-index: 1;
}
footer {
    background-color: var(--third-color);
}
header {
    height: 10vh
}
/* Main Section */
main {
    display: flex;
}
main > section {
    min-width: 85%;
    display: grid;

}
main > section > section {
    padding-top: 30px;
    padding-bottom: 30px;
}
/* Aside menu */
div#cat-main h2 {
    color: var(--secondary-text-color);

}
main > aside {
    min-width: 15%;
    display: flex;
    flex-direction: column;
}
main > aside > div {
    background-color: var(--secondary-color);
    color: white;
    height: 150%;
}
main > aside > div + div{
    background-color: var(--secondary-color);
    height: 50%;
}
li.aside-cat{
    width: 40%;
    max-width: 40%;
}
li.aside-cat > a > img{
    height: 10%;
}
/* div#cat-main > ul{
    display: flex;
    flex-direction: row;
} */
/* Aside footer media images */
main > aside > div + div > ul > li{
    font-size: 50px;
}
main > aside > div + div > ul > li > a{
    font-size: 50px;
    text-decoration: none;
    color: white;
}
main > aside > div + div > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
}
/* site footer */
footer {
    width: 100%;
}
/* sections in de footer met de lijst van links*/
footer > div {
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
/* header van elke sectie in de lijst van links */
footer > div > div > h4 {
    font-weight: 700;
    font-size: medium;
    letter-spacing: 1px;
    width: 100%;
    text-align: left;
    color: var(--secondary-text-color);
}
footer > div > div > ul > li > a {
    color: -var(--secondary-text-color);
}
/* image in footer */
body > footer > div > img {
    padding: 10px;
    width: 50%;
    height: auto;
}
/* links in de footer */
footer > div > div > ul {
    list-style: none;
}
footer > div > div > ul > li > a {
    color: var(--faded-text-color) !important
}
footer > div > div > ul > li > a:link, footer > div > div > ul > li > a:visited {
    text-decoration: none;
}
footer > div > div > ul > li > a:hover, footer > div > div > ul > li > a:active {
    text-decoration: underline;
}
/* disclaimer footer */
footer > h4 > a:link, footer > h4 > a:visited {
    text-decoration: none;
    color: var(--secondary-text-color);
}
footer > h4 > a:hover, footer > h4 > a:active {
    text-decoration: underline;
    color: var(--secondary-text-color);
}

/* Carousels */
#dagdeals
{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    animation-delay: 300ms;
}
#laatsttoegevoegd{
    animation-delay: 150ms;
}

#dagdeals > div
{
    width: 47%;
    height: 25vh;
}
#aanbevolen{
    animation-delay: 50ms;
    width: 100%;
}

/* carousel styling */
.carousel {
    width: 95%; /* fixed gallery width */
    margin: 0 auto;
}
.carousel-cell {
    height: 208px;
    margin: 0 5px;
    border-radius: 15px;
    counter-increment: carousel-cell;
}
#aanbevolen > div > div > div > .carousel-cell {
    width: calc(33% - 4px);
}
#laatstbekeken > div > div > div > .carousel-cell {
    width: calc(25% - 8px);
}
#laatsttoegevoegd > div > div > div > .carousel-cell {
    width: calc(33% - 4px);
}
.dagdeal {
    display: flex;
    flex-direction: row;
    height: 100%;
}
#dagdeals > div {
    display: flex;
    flex-direction: column;
}
.dagdeal-info {
    width: 60%;
    overflow: hidden;
}
.dagdeal-info > * {
    display: block;
    margin-left: 30px;
    font-weight: 600;
    padding: 10px;
}
.dagdeal-info > span {
    color: var(--main-text-color)
}
.dagdeal-info > span + span {
    color: var(--faded-text-color)
}
.dagdeal-info > #timer-1 {
    width: 70%;
    margin-left: 15px;
    padding: 0;
    font-weight: 700;
    font-size: 1.5rem;
    color: red;
    overflow: hidden;
}
#dagdealtimer {
    font-weight: 500;
    
}
/* nav MADE BY REDOUAN
.dropbtn {
    background-color: purple;
    color: white;
    padding: 8px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin-left: 50%;
}

.dropdown {
    position: fixed;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content{ 
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: violet;
} */


.carousel-cell > img{
    height: 100%;
    max-width: 50%;
    float: left;
}
.carousel-cell > img + div {
    max-width: 60%;
    display: flex;
    flex-direction: column;
}
.rating > span {
    color: var(--main-text-color)
}
.carousel-cell > div > button {
    width: 50%;
    background-color: rgb(147, 147, 255);
    border: none;
    height: 30px;
    color: var(--main-text-color);
    margin-top: -5px;
}
.carousel-cell > div > button:hover {
    transform: scale(1.05, 1.05)
}
.carousel-cell > div > a {
    text-decoration: none;
    color: var(--main-text-color)
}
.carousel-cell > div > a:hover {
    text-decoration: underline;
}
.carousel-cell > div > a:active, .carousel-cell > div > a:visited {
    text-decoration: none;
}
.carousel-cell > div > * {
    font-weight: 700;
    margin-left: 10px;
}
.carousel-cell > div > a + span {
    font-weight: 500;
}
.carousel-cell > div > span + span {
    font-weight: 500;
    color: red
}
.carousel-cell > div > div {
    margin-top: -15px !important;
    font-weight: 700;
    font-size: 2rem;
}

.carousel-cell > div > div > span + span + span + span + span + span {
    font-size: 1rem;
    margin-left: 5px;
    color: var(--main-text-color);
    vertical-align: middle;
}

.carousel-cell > img + div > span + span + span::before {
    content: "€"
}
/* 
nav .search-container {
    margin-left: 40%;
  }
  
  nav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  
  nav .search-container button {
    float: left;
    padding: 6px 10px;
    margin-top: 9px;
    margin-right: 1px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    
  }
  
   nav.search-container button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 600px) {
    nav .search-container {
      float: none;
    }

    nav a, .nav input[type=text], .nav .search-container button {
      float: none;
      display: block;
      text-align: center;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    nav input[type=text] {
      border: 1px solid #ccc;  
    } */



/* 

PATRYKS NAVIGATION 

*/

/* MAIN SECTION OF NAV */
nav {
    display: flex;
    flex-direction: row;
    min-height: 5vh;
    width: 100%;
}

nav > a > img
{
    height: 5vh;
    margin-left: 2vw;
}

/* BUTTON STYLING */
.dropbtn{
    min-height: 5vh;
    min-width: 3vw;
    font-size: 24px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: var(--nav-accent-color);
}
/* DROPDOWN STYLING */
.dropdown {
  position: relative;
  display: inline-block;
}

/* CONTENT OF DROPDOWN ( ITS HIDDEN BY DEFAULT!!!) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* A content styling */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: -var(--main-hover-color);
}

    /* Change the button background on hover */
.dropdown:hover .dropbtn {
    background-color: var(--third-color);
}

.search-container{
    float: right;
    display: flex;
    margin-left: 20vw;
}
.search-container > form > input {
    height: 90%;
    border: 0;
    margin: 2px 0;
    width: 100%
}
.search-container > form {
    width: 20vw;
    border: 0;
}